<div class="container-xxl bg-secondary p-4">
    <div class="row justify-content-center">
        <div class="col-md-4 m-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><i class="fa fa-plus"></i> ADD</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        Create password
                    </h6>
                    <p class="card-text">
                        In this part you can create a new password and manage it
                        with a friendly layout.
                    </p>
                    <a href="/add" class="card-link">Add link</i
                    ></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 m-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><i class="fa fa-remove"></i> REMOVE</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        Delete password
                    </h6>
                    <p class="card-text">
                        In this part you can delete a password that you created
                        it before with password ID.
                    </p>
                    <a href="/remove" class="card-link">Remove link</i
                    ></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 m-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><i class="fa fa-list"></i></i> LIST</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        Show passwords
                    </h6>
                    <p class="card-text">
                        In this part you can show all passwords that you created
                        them before in a table layout.
                    </p>
                    <a href="/list" class="card-link">List link</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-xxl">
    <div class="row text-center text-bg-dark p-4 m-4 rounded">
        <h1><strong class="text-danger display-3">PassMan</strong> an user friendly and simple local password manager</h1>
    </div>
</div>
<div class="container-xxl">
    <div class="row p-2 rounded">
        <strong class="text-center">Created with
             <i class="fa fa-coffee"></i> and
             <i class="fa fa-heart"></i> by 
             <a href="https://github.com/nullcript" class="nc" target="_blank">@NullCript</a></strong>
    </div>
</div>
